body {
  background: peachpuff;
}
*{
  border:2px solid black;
}

.row {
  display: flex;
  flex-wrap:wrap;
  flex:2;
}


.row2{
  display:flex;
 flex-wrap:wrap;

}

 
.b, .c, .d, .e, .f{
  flex:10%;
  display: inline-flex;
  text-align: center;
}

.row3 {
  display: flex;
  flex-wrap;
  
}




@media screen and (max-width: 500px) {

  .row, .row2 {
  display: flex;
  justify-content: space-around;

}
}
